*.pyc
stuff/*
swimmer
swimmer_
*.exe
*.dll
dist/*
build/*
*.o
wwol/engine/c_part/_transform_frame.*
wwol/engine/c_part/transform_frame.py
wwol/engine/c_part/*_wrap.c
wwol/engine/c_part/numpy.i

wwol/engine/c_part/test_result.bmp
debug_dump/*

*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile


